body {
  font-family: Arial;
  background: #f4f4f4;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.player {
  width: 350px;
  padding: 20px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 0 10px #aaa;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 200px;
  overflow-y: auto;
}

li {
  padding: 8px;
  cursor: pointer;
}

li:hover {
  background: #eee;
}

.controls button {
  padding: 10px;
  margin: 5px;
}

.dark {
  background: #111;
  color: white;
}

.dark .player {
  background: #222;
}
